/* Issues and Milstone Page: Super-labels display adjustments
============================================================================================ */
@import "../super-labels.less";

[github-projects-plus] {
  /* Super-labels
  ============================================================================================ */
  .js-issue-row {
    .markdown-title {
      float: left;
      margin-right: 8px;
    }
    .labels {
      position: initial !important;
      float: left;
      max-width: 50%;
      display: flex !important;
      flex-flow: row;
      width: min-content;
      padding-top: 4px;

      // Styling for all labels (special or not)
      a {
        display: inline-block;
        margin-right: 2px;
        white-space: nowrap;
      }

      // Break float after this
      & + * {
        clear: both;
      }

      /* Super-labels (Type labels)
      ============================================================================================ */

      // Compose selector
      @issues-type-selector-name: ~'.IssueLabel[data-name ^= "#"]'; // Name starts with "#"
      @issues-type-selector-description: ~'.IssueLabel[title *= "[type]"]'; // Description contains "[type]"

      // Type label, basic styling + :hover state
      .issues-type-label(@i) {
        .super-type-label(@i, var(--color-fg-default), var(--color-canvas-subtle), var(--color-border-muted));
        line-height: 100%;
        vertical-align: middle;

        &:hover {
          max-width: 200px !important;
          min-height: 32px !important;
          line-height: 32px !important;
        }
      }

      // Position based on number of preceding elements matching same selector (max 5 labels)
      @{issues-type-selector-name},
      @{issues-type-selector-description} {
        .issues-type-label(0);

        & ~ @{issues-type-selector-name},
        & ~ @{issues-type-selector-description} {
          .issues-type-label(1);

          & ~ @{issues-type-selector-name},
          & ~ @{issues-type-selector-description} {
            .issues-type-label(2);

            & ~ @{issues-type-selector-name},
            & ~ @{issues-type-selector-description} {
              .issues-type-label(3);

              & ~ @{issues-type-selector-name},
              & ~ @{issues-type-selector-description} {
                .super-label-default();
              }
            }
          }
        }
      }

      /* Super-labels (Special labels)
      ============================================================================================ */
      // Compose selector
      @issues-special-selector-name: ~'.IssueLabel[data-name ^= "@"]'; // Name starts with "@"
      @issues-special-selector-description: ~'.IssueLabel[title *= "[special]"]'; // Description contains "[special]"

      // Special label, basic styling + :hover state
      .issues-special-label(@i) {
        .super-special-label(@i, var(--color-fg-default), var(--color-canvas-subtle), var(--color-border-muted));
        line-height: 100%;
        vertical-align: middle;
      }

      // Position based on number of preceding elements matching same selector (max 5 labels)
      @{issues-special-selector-name},
      @{issues-special-selector-description} {
        .issues-special-label(0);

        & ~ @{issues-special-selector-name},
        & ~ @{issues-special-selector-description} {
          .issues-special-label(1);

          & ~ @{issues-special-selector-name},
          & ~ @{issues-special-selector-description} {
            .issues-special-label(2);

            & ~ @{issues-special-selector-name},
            & ~ @{issues-special-selector-description} {
              .issues-special-label(3);

              & ~ @{issues-special-selector-name},
              & ~ @{issues-special-selector-description} {
                .super-label-default();
              }
            }
          }
        }
      }
    }
  }
}
