/* Assigment section adjustments
============================================================================================ */
.project-columns .issue-card[data-content-type="Issue"] .avatar-stack:hover::after {
    max-width: 180px !important;
}
.project-columns .issue-card[data-content-type="Issue"] .avatar-stack,
.project-columns .issue-card[data-content-type="Issue"] .avatar-stack .avatar {
    cursor: pointer;
}
.project-columns .issue-card[data-content-type="Issue"] .card-menu-container::after {
    content: '';
    z-index: 4;
    display: block;
    opacity: 1;
    position: absolute;
    top: auto;
    left: auto;
    right: 1px;
    bottom: 1px;
    width: auto;
    min-width: 12px;
    height: 12px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    /* 
        <svg xmlns='http://www.w3.org/2000/svg' width="14" height="16">
            <path fill="#cccccc" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"/>
        </svg> 
    */
    background-image: 
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI2NjY2NjYyIgZD0iTTE0IDguNzd2LTEuNmwtMS45NC0uNjQtLjQ1LTEuMDkuODgtMS44NC0xLjEzLTEuMTMtMS44MS45MS0xLjA5LS40NS0uNjktMS45MmgtMS42bC0uNjMgMS45NC0xLjExLjQ1LTEuODQtLjg4LTEuMTMgMS4xMy45MSAxLjgxLS40NSAxLjA5TDAgNy4yM3YxLjU5bDEuOTQuNjQuNDUgMS4wOS0uODggMS44NCAxLjEzIDEuMTMgMS44MS0uOTEgMS4wOS40NS42OSAxLjkyaDEuNTlsLjYzLTEuOTQgMS4xMS0uNDUgMS44NC44OCAxLjEzLTEuMTMtLjkyLTEuODEuNDctMS4wOUwxNCA4Ljc1di4wMnpNNyAxMWMtMS42NiAwLTMtMS4zNC0zLTNzMS4zNC0zIDMtMyAzIDEuMzQgMyAzLTEuMzQgMy0zIDN6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: top right;
    background-origin: border-box;
    pointer-events: all;
    cursor: pointer;
}
.project-columns .issue-card[data-content-type="Issue"] .card-menu-container:hover::after {
    content: 'Edit Assignemnts';
    padding-right: 16px;
    font-size: 9px;
    line-height: 12px;
    vertical-align: middle;
    color: #cccccc;
    /* 
        <svg xmlns='http://www.w3.org/2000/svg' width="14" height="16">
            <path fill="#4078c0" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"/>
        </svg> 
    */
    background-image: 
        url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iIzQwNzhjMCIgZD0iTTE0IDguNzd2LTEuNmwtMS45NC0uNjQtLjQ1LTEuMDkuODgtMS44NC0xLjEzLTEuMTMtMS44MS45MS0xLjA5LS40NS0uNjktMS45MmgtMS42bC0uNjMgMS45NC0xLjExLjQ1LTEuODQtLjg4LTEuMTMgMS4xMy45MSAxLjgxLS40NSAxLjA5TDAgNy4yM3YxLjU5bDEuOTQuNjQuNDUgMS4wOS0uODggMS44NCAxLjEzIDEuMTMgMS44MS0uOTEgMS4wOS40NS42OSAxLjkyaDEuNTlsLjYzLTEuOTQgMS4xMS0uNDUgMS44NC44OCAxLjEzLTEuMTMtLjkyLTEuODEuNDctMS4wOUwxNCA4Ljc1di4wMnpNNyAxMWMtMS42NiAwLTMtMS4zNC0zLTNzMS4zNC0zIDMtMyAzIDEuMzQgMyAzLTEuMzQgMy0zIDN6Ii8+PC9zdmc+");
}

/* Assigments dropdown
============================================================================================ */
.ogp-assignments-menu {
    z-index: 30;
    position: absolute;
    top: calc(100% + 10px);
    right: -4px;
    width: 240px;
    min-height: 40px;
    background-color: white;
    border-radius: 3px;
    border: 1px #e5e5e5 solid;
    cursor: default;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5)
}
.ogp-assignments-menu::before {
    content: '';
    position: absolute;
    top: -16px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #eee;
}

.ogp-assignments-menu .select-menu-list {
    max-height: 227px;
}
.ogp-assignments-menu .select-menu-list .select-menu-clear-item {
    display: none;
}